.desktopSidebar {
  background-image: url("/images/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2rem 5rem 8.3rem 2rem;
}

.desktopSidebar li {
  margin-top: 10px;
  color: #fff;
  font-family: Ubuntu-Bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.desktopSidebar li span {
  display: block;
}

.step-count {
  color: lightgray;
}

ul p {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}