.desktopSidebar {
  background-image: url("/images/bg-sidebar-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  height: 500px;
  max-width: 250px;
}

.desktopSidebar ul {
  padding: 30px 0 0 30px;
  text-transform: uppercase;
}

.navItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.stepIndicator {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.stepIndicator.active {
  color: hsl(213, 96%, 18%);
  background: hsl(206, 94%, 87%);
  border: 2px solid hsl(206, 94%, 87%);
}

.stepInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.stepCount {
  color: hsl(229, 24%, 87%);
  font-size: 12px;
  font-weight: 300;
}

.stepName {
  font-weight: 500;
}

.stepIndicator, .stepCount, .stepName {
  cursor: pointer;
  margin-bottom: 5px;
}
