.mobileHeader {
  display: none;
}

.mobileHeader ul {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

a.active li {
  color: hsl(213, 96%, 18%);
  background: hsl(206, 94%, 87%);
  border: 2px solid hsl(206, 94%, 87%);
}

.mobileHeader ul li {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: .57rem;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .mobileHeader {
    display: block;
    background-image: url("/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 24svh;
  }
}