
  *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: Ubuntu-Regular;
    src: url("/fonts/Ubuntu-Regular.ttf");
  }

  @font-face {
    font-family: Ubuntu-Bold;
    src: url("/fonts/Ubuntu-Bold.ttf");
  }

  @font-face {
    font-family: Ubuntu-Medium;
    src: url("/fonts/Ubuntu-Medium.ttf");
  }

  ul {
    list-style-type: none;
  }

  .container {
    background: #EEF5FF;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }